.App {
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
  position: relative;
}

.App nav {
  width: 100%;
  font-size: 1rem;
  background-color: #202225;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.nav__brand a {
  margin-left: 3rem;
  text-decoration: none;
  color: palegreen;
  font-weight: 800;
  transition: all 0.2s ease;
}
.nav__brand a:hover {
  border-bottom: 1px solid palegreen;
}

.nav__list {
  margin-left: 3rem;
}

.nav__list li {
  margin-bottom: 0.8rem;
}

.nav__list a {
  text-decoration: none;
  color: white;
  transition: all 0.2s ease;
}

.nav__list a:hover {
  color: palegreen;
  border-bottom: 1px solid palegreen;
}

.footer {
  position: absolute;
  font-size: 1rem;
  bottom: 1rem;
  left: 3rem;
  right: 0;
  margin: 0;
}

.footer a {
  text-decoration: none;
  color: palegreen;
  border-bottom: 1px solid white;
  transition: all 0.2s ease;
}

.footer a:hover {
  border-bottom: 1px solid palegreen;
}

.content-container {
  position: absolute;
  top: 10rem;
  left: 3rem;
  font-size: 1rem;
}

.main-title {
  width: 150px;
  color: palegreen;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid palegreen;
}

.home-link {
  text-decoration: none;
  color: palegreen;
  font-size: 1rem;
  padding-bottom: 0.5rem;
  transition: all 0.2s ease;
}
.home-link:hover {
  border-bottom: 1px solid palegreen;
}

.input-field {
  padding: 0.25rem;
  font-size: 1.25rem;
  width: 30rem;
}
